.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.carousel-heading {
  margin-bottom: 20px;
  color: white;
  font-family: "Lexend Zetta";
}

.carousel-wrapper {
  width: 80%;
  max-width: 800px;
  height: auto;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
}

.carousel-button.left {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button.right {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
body {
  background-color: black;
}
